@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Rock+Salt&display=swap');

body{
    font-family: 'Fira Sans', sans-serif;
}
h1{
    font-family: 'Rock Salt',sans-serif;
}

h1~p {
    color:rgb(50, 110, 160);
}

#food option:nth-of-type(even){
    background-color:rgba(50, 110, 160, 0.25);
}

input:invalid{
    background-color:rgba(200, 0, 0, 0.15) ;
}
input:valid:not(.btn){
    background-color: rgba(0, 200, 0, 0.15) ;
}

li a:hover{
    background-color: #007bff;
    border-radius: 0.25rem;
}
i[class*="fa-utensils"]{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
label[for]::first-letter{
    font-weight: bold;
    text-decoration: underline;
}
